html,body,input, input, select, textarea{
	font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
	/*font-family: Arial,sans-serif;*/
	color: #3e3e3e;
}
html,body {
	background-color: #373737 !important;
	margin: 0;
	padding: 0;
}
a,a:visited{
	color: #00A99D;
	cursor: pointer;
}
a:hover,
a:focus{
	color: #00A99D;
	text-decoration: underline;
}
.clear{
	clear: both;
}
.container-fluid{
	padding: 0;
}
#content.login{
	padding: 20px 0;
	margin: 0 auto;
	background: none transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	min-height: 0;
}
#logo{
	margin: 0 auto 20px;
	width: 75%;
	max-width: 412px;
	text-align: center;
}

.alert{
	font-weight: bold;
	border-radius: 0 0 0 0;
}

.form-signin{
	background: none repeat scroll 0 0 #F8F7F7;
	box-shadow:-13px -11px 31px #191919;
	-webkit-box-shadow:-13px -11px 31px #191919;
	-moz-box-shadow:-13px -11px 31px #191919;
	margin: 0 auto 20px;
	max-width: 412px;
}
.form-signin .alert{
	margin-bottom: 0;
	border-radius: 0 0 0 0;
}
.form-signin .form-signin-heading{
	background: #1c1c1c;
	padding: 10px;
}
.form-signin .form-signin-heading h2{
	color: #FFFFFF;
	font-size: 28px;
	font-weight: normal;
	margin: 0 0 0 68px;
	padding: 0;
}
.form-signin .form-signin-heading .login-header-image{
	float: left;
	width: 54px;
}

.form-signin-body{
	background: #f8f7f7;
}

.form-signin-body-left{
	float: left;
	margin: 0 0 0 17px;
	max-width: 220px;
	padding: 20px 0 0;
	width: 100%;
}
.form-signin-body-left label{
	color: #505050;
	font-size: 13px;
	font-weight: bold;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 13px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.form-signin input[type="password"]{
	margin-bottom: 8px;
}

.form-signin-body-left a{
	font-size: 13px;
}

.form-signin-body-right{
	background: none repeat scroll 0 0 #00A99D;
	float: left;
	height: 100%;
	margin: 0 0 0 30px;
	max-width: 145px;
	width: 100%;
	z-index: 999;
}
.form-signin-body-right input{
	background: none repeat scroll 0 0 #00A99D;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	border:0;
	font-size: 20px;
	text-shadow:none;
	width: 145px;
	height: 193px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.form-signin-body-right input:hover,
.form-signin-body-right input:focus{
	background: none repeat scroll 0 0 #00bdb0;
}
.form-signin-body-right input:active{
	background: none repeat scroll 0 0 #00D1C3;
	border-left:3px solid #12877A;
	border-top:2px solid #12877A;
	padding-top: 13px;
}
.footer-info.copyright{
	color: #FFFFFF;
	text-align: center;
	margin: 0 auto;
	max-width: 412px;
	font-size: 12px;
	line-height: 1.2em;
}
nav .footer-info.copyright{
	display: none;
}

#left-column{
	float: left;
	padding: 35px 0 0;
	position: relative;
	width: 223px;
	z-index: 1;
}
.sidebar-logo{
	text-align: center;
	margin: 0 0 30px;
}
.sidebar.copyright{
	color: #FFFFFF;
	font-size: 12px;
	line-height: 1.2em;
	padding: 20px 10px 0;
}

#mainnav{

}

ul.mainnav{
	margin: 0;
	padding: 0;
}

ul.mainnav > li > a{
	display: block;
	font-size: 14px;
	color: #EBEBEB;
	padding: 10px 5px 11px 58px;
	position: relative;
	z-index: 999;
	text-decoration: none;
}

ul.mainnav > li#dashboard > a{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll 16px -258px;
}

ul.mainnav > li#catalog > a{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll 16px -176px;
}

ul.mainnav > li#transaction > a{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll 16px -176px;
}

ul.mainnav > li#bill > a{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll 16px -176px;
}

ul.mainnav > li#tool > a{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll 16px -176px;
}

ul.mainnav > li#extension > a{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll 16px -340px;
}

ul.mainnav > li#sale > a{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll 16px -504px;
}

ul.mainnav > li#system > a{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll 16px -587px;
}

ul.mainnav > li#reports > a{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll 16px -922px;
}

ul.mainnav > li#help > a{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll 16px -672px;
}

ul.mainnav > li > a:hover,
ul.mainnav > li > a:focus{
	color: #FFFFFF;
	text-decoration: none;
}

ul.mainnav > li#dashboard > a:hover,
ul.mainnav > li#dashboard > a:focus{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll -270px -258px #00a99d;
}

ul.mainnav > li#catalog > a:hover,
ul.mainnav > li#catalog > a:focus{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll -270px -176px #00a99d;
}

ul.mainnav > li#transaction > a:hover,
ul.mainnav > li#transaction > a:focus{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll -270px -176px #00a99d;
}

ul.mainnav > li#extension > a:hover,
ul.mainnav > li#extension > a:focus{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll -270px -340px #00a99d;
}

ul.mainnav > li#sale > a:hover,
ul.mainnav > li#sale > a:focus{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll -270px -504px #00a99d;
}

ul.mainnav > li#system > a:hover,
ul.mainnav > li#system > a:focus{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll -270px -587px #00a99d;
}

ul.mainnav > li#reports > a:hover,
ul.mainnav > li#reports > a:focus{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll -270px -922px #00a99d;
}

ul.mainnav > li#help > a:hover,
ul.mainnav > li#help > a:focus{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll -270px -672px #00a99d;
}

ul.mainnav > li.selected > a{
	color: #000000;
	background-color: #FFFFFF;
	box-shadow:-13px -11px 16px #191919;
	-webkit-box-shadow:-13px -11px 16px #191919;
	-moz-box-shadow:-13px -11px 16px #191919;
	position: relative;
	z-index: 998;
}

ul.mainnav > li#dashboard.selected > a{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll -551px -258px #FFFFFF;
}

ul.mainnav > li#catalog.selected > a{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll -551px -176px #FFFFFF;
}

ul.mainnav > li#transaction.selected > a{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll -551px -176px #FFFFFF;
}

ul.mainnav > li#extension.selected > a{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll -551px -340px #FFFFFF;
}

ul.mainnav > li#sale.selected > a{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll -551px -504px #FFFFFF;
}

ul.mainnav > li#system.selected > a{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll -551px -587px #FFFFFF;
}

ul.mainnav > li#reports.selected > a{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll -551px -922px #FFFFFF;
}

ul.mainnav > li#help.selected > a{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll -551px -672px #FFFFFF;
}

ul.mainnav li a > span > img{
	margin: 0 0 0 6px;
}

ul.mainnav ul{
	list-style: none;
	margin: 0;
	display: none;
	position: relative;
	z-index: 999;
}

ul.mainnav > li > ul{
	background: #404040;
}

ul.mainnav ul li a{
	font-size: 12px;
	display: block;
	color: #FFFFFF;
	padding: 4px 0 5px 30px;
}

ul.mainnav ul li a:hover,
ul.mainnav ul li a:focus{
	background: #00a99d;
	text-decoration: none;
	border-top: 1px solid #01B5A8;
	border-bottom: 1px solid #01B5A8;
	padding: 3px 0 4px 30px;
}

ul.mainnav > li > ul > li > a{
}

ul.mainnav > li > ul > li > ul{
	box-shadow: 0 1px 8px 0 #030303 inset;
	-webkit-box-shadow: 0 1px 8px 0 #030303 inset;
	-moz-box-shadow: 0 1px 8px 0 #030303 inset;
	background: #252525;
}

ul.mainnav > li > ul > li > ul > li > a{
	/*font-size: 12px;*/
	/*padding: 4px 0 5px 30px;*/
}

ul.mainnav > li > ul > li > ul > li > ul{
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background: #565656;
}

ul.mainnav > li > ul > li > ul > li ul li a{
	padding:4px 0 5px 50px;
}

ul.mainnav > li > ul > li > ul > li ul li:first-child a{
	border-top: 1px solid #717171;
}

ul.mainnav > li > ul > li > ul > li ul li a:hover,
ul.mainnav > li > ul > li > ul > li ul li a:focus{
	padding:3px 0 4px 50px;
}

ul.mainnav > li > ul > li > ul > li ul li:first-child a:hover,
ul.mainnav > li > ul > li > ul > li ul li:first-child a:focus{
	padding: 4px 0 4px 50px;
}

ul.mainnav > li > ul > li > ul > li ul li:last-child a{
	border-bottom: 1px solid #717171;
}

ul.mainnav > li > ul > li > ul > li ul li:last-child a:hover,
ul.mainnav > li > ul > li > ul > li ul li:last-child a:focus{
	padding: 3px 0 5px 50px;
}

ul.mainnav > li > ul > li > ul > li > ul ul{
	background: none repeat scroll 0 0 #0F0F0F !important;
	box-shadow: 0 1px 8px 0 #030303 inset;
	-webkit-box-shadow: 0 1px 8px 0 #030303 inset;
	-moz-box-shadow: 0 1px 8px 0 #030303 inset;
}

[class^="icon-"], [class*=" icon-"]{
	background-image: url("../../../image/admin_theme/base5builder_impulsepro/glyphicons-halflings.png");
}

ul.mainnav li#menu-control{
	display: none;
}

ul.mainnav li#menu-control .menu-control-outer{
	border-radius: 4px 4px 4px 4px;
	margin: 0 auto 10px;
	width: 38px;
}

ul.mainnav li#menu-control .menu-control-outer .menu-control-inner{
	cursor: pointer;
	border-radius: 4px 4px 4px 4px;
	border-top: 1px solid #595959;
	width: 18px;
	padding: 7px 10px;
	background:#000000;
}

ul.mainnav li#menu-control .menu-control-outer.opened .menu-control-inner{
	border-top: 1px solid #00C2B5;
	background:#00A99D;
}

ul.mainnav li#menu-control .menu-control-outer .menu-control-inner:hover,
ul.mainnav li#menu-control .menu-control-outer .menu-control-inner:focus{
	border-top: 1px solid #00C2B5;
	background:#00A99D;
}

ul.mainnav li#menu-control .menu-control-outer .menu-control-inner .icon-bar{
	background-color: #F5F5F5;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 2px;
    width: 18px;
}

ul.mainnav li#menu-control .menu-control-outer .icon-bar + .icon-bar{
	margin-top: 3px;
}

.right-header-content{
	margin: 0 0 0  223px;
	height: 78px;
	position: relative;
	z-index: 999;
}

.admin-info{
	color: #FFFFFF;
	float: right;
	font-size: 13px;
	padding: 29px 15px 29px 0;
	text-align: right;
}

.admin-info span{
	font-weight: bold;
}

.secondary-menu{
	float: right;
}

.secondary-menu > ul{
	margin: 0;
	position: relative;
}

.secondary-menu > ul > li{
	display: inline;
	font-size: 13px;
	margin: 0 0 0 -4px;
}

.secondary-menu > ul > li > a{
	color: #FFFFFF;
	cursor: pointer;
	line-height: 75px;
	padding: 31px 25px 32px 45px;
	text-decoration: none;
}

.secondary-menu > ul > li#store{
	margin: 0;
}

.secondary-menu > ul > li#store > a{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll 10px -735px #636363;
}

.secondary-menu > ul > li#store > a:focus,
.secondary-menu > ul > li#store > a:hover{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll -275px -735px #00A99D;
	text-decoration: none;
}

.secondary-menu > ul > li#logout > a{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll 10px -815px #565656;
}

.secondary-menu > ul > li#logout > a:focus,
.secondary-menu > ul > li#logout > a:hover{
	background: url("../../../image/admin_theme/base5builder_impulsepro/css-sprite-icons.png") no-repeat scroll -276px -815px #565656;
	background-color:#00A99D;
	text-decoration: none;
}

.secondary-menu > ul > li > ul{
	display: none;
	left: -4px;
	list-style: none outside none;
	margin: 2px 0 0;
	position: absolute;
	z-index: 999;
}

.secondary-menu > ul > li > ul > li a{
	background-color: #636363;
	border-bottom: 1px solid #AAAAAA;
	color: #FFFFFF;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	min-width: 150px;
}

.secondary-menu > ul > li > ul > li a:focus,
.secondary-menu > ul > li > ul > li a:hover{
	background-color:#00A99D;
	text-decoration: none;
}

#content{
	margin: 0 0 0  223px;
	background: none repeat scroll 0 0 #FFFFFF;
	margin: 0 0 0 223px;
	box-shadow: -13px -11px 31px #191919;
	-webkit-box-shadow: -13px -11px 31px #191919;
	-moz-box-shadow: -13px -11px 31px #191919;
	padding: 20px 30px 30px 30px;
	min-height: 500px;
	position: relative;
}

#content .content > form{
	overflow: hidden;
}

#content .content > form.form-fix{
	overflow-x: scroll;
	overflow-y: hidden;
}

.breadcrumb{
	background-color: transparent;
	border-radius: 0 0 0 0;
	color: #5C5C5C;
	font-size: 13px;
	padding: 0;
	font-weight: bold;
}

.breadcrumb a{
	color: #5c5c5c;
	font-weight: normal;
	text-decoration: underline;
}

#tb_cp_header{
	background-color: transparent !important;
}